// Google fonts
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|IBM+Plex+Sans|Nixie+One')

// Fonts
$bungee: 'Bungee Shade', cursive
$ibm: 'IBM Plex Sans', sans-serif
$nixie: 'Nixie One', cursive

root
  font-size: 16px

// Typography
body 
  font-family: $ibm
  font-size: 1.7rem
  line-height: 1.5
h1
  font-family: $bungee
  font-size: 6rem

h2
  font-family: $nixie
  font-size: 3rem
  padding-left: 1.5rem
h3
  font-family: $nixie
  font-size: 2rem
  padding-left: 1.5rem
p
  padding: 1.5rem

// Layout

header
  display: flex
  flex-direction: column
  align-items: center
  height: auto
main
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
article
  width: 80%
